-
  const headerClient = '#recent clients';
  const clientList = [
    `${baseUrl}/asset/image/client/chemist.jpg`,
    `${baseUrl}/asset/image/client/roehampton.jpg`,
    `${baseUrl}/asset/image/client/codetap.jpg`,
    `${baseUrl}/asset/image/client/client.jpg`,
  ];
#client
.client
  .client__header=headerClient
  .client__list
    each client in clientList
      .client__image
