//- model, data
-
  const headerExperience = '#experience';
  const experienceList = [
    {
      title: 'Junior Front End Developer',
      date: '2019 Mar – present	',
      company: ' BitBee Ltd',
      responsabilityList: [
        'Helping fellow co-workers to better understand how the web works',
        'Building websites in a team to increase efficiency and to deliver better and faster products',
        'Actively learning and applying HTML5, CSS3, JavaScript, ReactJS and Redux',
        'Maintain projects using ReactJS',
        'Plan the architecture of a project together with the BitBee team and execute it to increase the chances of a successful project',
        'Research and development with Front End technologies like HTML5, CSS3, JavaScript and React',
        'Contributing in building a project starter for rapid project prototyping using Pug and Sass to deliver pure CSS & HTML projects',
        'Build projects that are quicker and faster to load and render than all of the other tested website (according to Pingdom tools)',
        'Build projects that score 100/100 on Google page speed on both mobile and desktop',
      ]
    },
    {
      title: 'Internship - Full Stack Developer',
      date: '2018 Aug - 2019 Feb',
      company: 'Drift Data Systems',
      responsabilityList: [
        'Actively learning and applying JavaScript, TypeScript, Angular, NodeJS and SQL',
        'Software testing and fixing bugs',
        'Contributing to the codebase',
      ]
    },
    {
      title: 'Microsoft Frontline Engineer (Office 365)',
      date: '2017 Jun - 2017 Nov',
      company: 'Wipro Limited',
      responsabilityList: [
        'Facilitating resolution of complex technical issues in all areas of assigned Microsoft products by collecting the necessary documentation or recreating the issue in-house.',
        'Communicating with Microsoft Office 365 Enterprise customers, from EMEA region, via telephone or email, with regards to finding technical solutions.',
        'Responsible for efficiently managing the relationship with the customers and thoroughly documenting their cases.',
      ]
    }
  ];
//- view, presentation
//- CSS "+" :checked
    input
    controlled container (div, or whatever)
#experience
.experience
  .experience__header=headerExperience
  input.experience__input(type="radio", name="same-name", id="experience-default")
  each experience, key in experienceList
    input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
    label.experience__title(for=`experience-id-${key}`)
      | #{experience.title}
      label(for="experience-default")
        span.my-cv__icon--plus
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience__list
      each responsability in experience.responsabilityList
        .experience__responsability=responsability
