-
  const myFullName = 'Cornel Cristian Filip';
  const myJobTitle = 'Junior Front End Developer';
  const socialList = [
    {
      icon: 'facebook2', 
      url: 'https://www.facebook.com/cornel.filip',
      socialName: 'Facebook'
    },
    {
      icon: 'instagram', 
      url: 'https://www.instagram.com/cornel__cristian/',
      socialName: 'Instagram'
    },
    {
      icon: 'twitter', 
      url: 'https://twitter.com/CornelCristianF',
      socialName: 'Twitter'
    },
    {
      icon: 'youtube', 
      url: 'https://www.youtube.com/channel/UCx8KpaqxsIqAmDhVbROkb8g?view_as=subscriber',
      socialName: 'YouTube'
    },
    {
      icon: 'stackoverflow', 
      url: 'https://stackoverflow.com/users/9761147/psyhedeliq',
      socialName: 'StackOverflow'
    },
    {
      icon: 'linkedin', 
      url: 'https://www.linkedin.com/in/cornelfilip/',
      socialName: 'LinkedIn'
    },
    {
      icon: 'github', 
      url: 'https://github.com/psyhedeliq',
      socialName: 'Github'
    },
  ];
#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__name=myFullName
    h2.landing-page__title=myJobTitle
    ul.landing-page__social
      each social, key in socialList
        li.landing-page__item
          label.landing-page__label(for=`message-box-id-${key}`)
            span(class=`my-cv__icon--${social.icon}`)
    .landing-page__box-body
      input.landing-page__box-radio(type="radio", name="awesome-radio", checked, id="default-message-radio")
      .landing-page__box-message Click the icons
      .landing-page__box-header
        //- .landing-page__box-info Click to visit
        
      each social, key in socialList
        input.landing-page__box-radio(type="radio", name="awesome-radio", id=`message-box-id-${key}`)
        .landing-page__box-message
          a.landing-page__box-link(href="social.url", target="_blank")=social.socialName
          label.landing-page__box-close(for="default-message-radio") &times;