//- data comes here
- 
  const header = "#about me"
  const imagePath = "asset/image/chris 1.jpg"
  const myFullNameAboutMe = "Cornel Cristian Filip"
  const myTitleAboutMe = "Junior Front End Developer"
  const slogan = "I make the front-end world a better place every day."
  const achievement = {
    title: 'Achievement',
    content: 'I taught myself web development while working a full-time job.'
  }

  const coolStuff = {
    title: 'grab cool stuff',
    buttonList: [
      {
        url: 'https://github.com/psyhedeliq',
        icon: 'github',
        label: 'Click to visit the Github project source'
      },
      {
        url: 'asset/doc/BIO - Filip Cornel Cristian - EN.docx',
        icon: 'file-word',
        label: 'Click to download my Biography'
      },
    ]
  }
//- the view comes here
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myFullNameAboutMe
  .about-me__title=myTitleAboutMe
  .about-me__slogan=slogan

  .about-me__title=achievement.title
  .about-me__content=achievement.content
 
  .about-me__title=coolStuff.title
  .about-me__link-list
    each button in coolStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv__icon--${button.icon}`)